h1,
h2,
h3,
h4 {
  color: cornflowerblue;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

footer {
  font-style: italic;
  align-content: center;
  background-color: cornflowerblue;
}

menu {
  background-color: cornflowerblue;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
